.Layer {
  padding-top: 20vh;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
}

.Face {
  width: 50vh;
  height: 50vh;
  display: "flex";
  align-items: "center";
  border: red 2px solid;
  border-radius: 100%;
}
