.section {
  width: 100vw;
  height: 100vh;
}

.section_top {
  background-color: #282c34;
  color: white;
}

.section_bottom {
  background-color: #61dafb;
  color: black;
}

.section_middle {
  background-color: #b7a72c;
  color: white;
}
