.app {
  text-align: center;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2vh;
  padding-bottom: 2vh;

  position: relative;
}

.section {
  width: 98vw;
  height: 100vh;
}

.section_top {
  background-color: #282c34;
  color: white;
}

.section_bottom {
  background-color: #61dafb;
  color: black;
}

.section_middle {
  background-color: #b7a72c;
  color: white;
}
