.Wrapper {
  width: 100vw;
  height: 20vh;
  position: fixed;
  z-index: 20;
}

.Body {
  background-color: #4ddf56;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.NamePage {
  width: 19vh;
  height: 19vh;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.Control {
  display: flex;
  flex-direction: row;
  align-items: center;
}
